/*
	Theme Name: Safe States
	Description: ''.

	Template: genesis
*/

/* Fonts
------------------------------------------------------------ */
 @import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');

/* Defaults
------------------------------------------------------------ */

body,
h1,
h2,
h2 a,
h2 a:visited,
h3,
h4,
h5,
h6,
p,
select,
textarea {
	color: #333;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 22px;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

input {
	color: #333;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
		font-size: 14px;
	line-height: 22px;

}

blockquote,
input,
select,
textarea,
.author-box,
.sticky,
.wp-caption {
	background-color: #f5f5f5;
	border: 1px solid #ddd;
}

li,
ol,
ul {
	margin: 0;
	padding: 0;
}

ol li {
	list-style-type: decimal;
}


/* Hyperlinks
------------------------------------------------------------ */

a,
a:visited {
	color: #25a;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: none;
}


/* Body
------------------------------------------------------------ */

body {
	background-color: #fff;
}


/* Wrap
------------------------------------------------------------ */

#wrap {
	margin: 0 auto;
	max-width: 960px;
}


/**
// If full width site
.wrap {
	margin: 0 auto;
	max-width: 960px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*/

/**
// If not responsive and full width
#wrap {
	min-width: 960px;
}
*/

/* Header
------------------------------------------------------------ */

#header {
	overflow: hidden;
	width: 100%;
}

#title-area {
	float: left;
	padding: 15px 0 0;
	width: 400px;
}

#title {
	font-size: 30px;
	line-height: 30px;
	margin: 0;
	overflow: hidden;
}

#title a,
#title a:hover {
	color: #333;
	text-decoration: none;
}

#description {
    color:#4EA9A0;
	font-size: 2em;
    font-weight:normal;
}

#header .widget-area {
	float: right;
	width: 550px;
}


/* Image Header - Partial Width
------------------------------------------------------------ */

.header-image #title-area,
.header-image #title,
.header-image #title a {
	display: block;
	overflow: hidden;
	padding: 0;
	text-indent: -9999px;
}

.header-image #description {
	display: block;
	overflow: hidden;
    text-align:center;
	text-indent: 0;
}


/* Navigation Constants
------------------------------------------------------------ */

li:hover ul ul,
li.sfHover ul ul {
	left: -9999px;
}

li:hover,
li.sfHover {
	position: static;
}

#header ul.nav li a.sf-with-ul,
#header ul.menu li a.sf-with-ul,
#nav li a.sf-with-ul,
#subnav li a.sf-with-ul {

}

li a .sf-sub-indicator {
	display: none;
}

/* Header Right Navigation
------------------------------------------------------------ */

#header ul.menu {
	float: right;
}

#header ul.menu ul {
	float: right;
	margin: 0;
	padding: 0;
	width: 100%;
}

#header ul.menu li {
	background-color: #333;
	float: left;
	list-style-type: none;
	text-transform: uppercase;
}

#header ul.menu li a {
	color: #fff;
	display: block;
	font-size: 13px;
	padding: 7px 10px 5px;
	position: relative;
	text-decoration: none;
}

#header ul.menu li a:hover,
#header ul.menu li a:active,
#header ul.menu .current_page_item a,
#header ul.menu .current-cat a,
#header ul.menu .current-menu-item a {
	background-color: #000;
	color: #fff;
}

#header ul.menu li li a,
#header ul.menu li li a:link,
#header ul.menu li li a:visited {
	background-color: #333;
	border: 1px solid #666;
	border-top-width: 0;
	color: #fff;
	font-size: 12px;
	padding: 5px 10px;
	position: relative;
	text-transform: none;
	width: 138px;
}

#header ul.menu li li a:hover,
#header ul.menu li li a:active {
	background-color: #000;
}

#header ul.menu li ul {
	height: auto;
	left: -9999px;
	position: absolute;
	width: 160px;
	z-index: 9999;
}

#header ul.menu li ul a {
	width: 140px;
}

#header ul.menu li ul ul {
	margin: -33px 0 0 159px;
}

#header ul.menu li:hover>ul,
#header ul.menu li.sfHover ul {
	left: auto;
}


/* Primary Navigation
------------------------------------------------------------ */

#nav, #secondary-nav {
	background-color: #333;
	border-bottom: 1px solid #666;
	clear: both;
	color: #fff;
	overflow: hidden;
	text-transform: uppercase;
	width: 100%;
}

#nav ul, #secondary-nav ul {
	float: left;
	width: 100%;
}

#nav li, #secondary-nav li {
	float: left;
	list-style-type: none;
}

#nav li a, #secondary-nav li a {
	color: #fff;
	display: block;
	font-size: 13px;
	padding: 7px 10px 5px;
	position: relative;
	text-decoration: none;
}

#nav li a:hover,
#nav li a:active,
#nav .current_page_item a,
#nav .current-cat a,
#nav .current-menu-item a {
	background-color: #000;
	color: #fff;
}

#nav li li a,
#nav li li a:link,
#nav li li a:visited {
	background-color: #333;
	border: 1px solid #666;
	border-top-width: 0;
	color: #fff;
	font-size: 12px;
	padding: 5px 10px;
	position: relative;
	text-transform: none;
	width: 138px;
}

#nav li li a:hover,
#nav li li a:active {
	background-color: #000;
}

#nav li ul {
	height: auto;
	left: -9999px;
	position: absolute;
	width: 160px;
	z-index: 9999;
}

#nav li ul a {
	width: 140px;
}

#nav li ul ul {
	margin: -33px 0 0 159px;
}

#nav li:hover>ul,
#nav li.sfHover ul {
	left: auto;
}

/* Secondary Navigation
------------------------------------------------------------ */
#secondary-nav li a:hover,
#secondary-nav li a:active,
#secondary-nav .current_page_item a,
#secondary-nav .current-cat a,
#secondary-nav .current-menu-item a {
    background-color: #000;
    color: #fff;
}

#secondary-nav li li a,
#secondary-nav li li a:link,
#secondary-nav li li a:visited {
    background-color: #333;
    border: 1px solid #666;
    border-top-width: 0;
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    position: relative;
    text-transform: none;
    width: 138px;
}

#secondary-nav li li a:hover,
#secondary-nav li li a:active {
    background-color: #000;
}

#secondary-nav li ul {
    height: auto;
    left: -9999px;
    position: absolute;
    width: 160px;
    z-index: 9999;
}

#secondary-nav li ul a {
    width: 140px;
}

#secondary-nav li ul ul {
    margin: -33px 0 0 159px;
}

#secondary-nav li:hover>ul,
#secondary-nav li.sfHover ul {
    left: auto;
}


/* Sub Navigation
------------------------------------------------------------ */

#subnav {
	background-color: #333;
	border-bottom: 1px solid #666;
	clear: both;
	color: #fff;
	overflow: hidden;
	text-transform: uppercase;
	width: 100%;
}

#subnav ul {
	float: left;
	width: 100%;
}

#subnav li {
	float: left;
	list-style-type: none;
}

#subnav li a {
	color: #fff;
	display: block;
	font-size: 13px;
	padding: 7px 10px 5px;
	position: relative;
	text-decoration: none;
}

#subnav li a:hover,
#subnav li a:active,
#subnav .current_page_item a,
#subnav .current-cat a,
#subnav .current-menu-item a {
	background-color: #000;
	color: #fff;
}

#subnav li li a,
#subnav li li a:link,
#subnav li li a:visited {
	background-color: #333;
	border: 1px solid #666;
	border-top-width: 0;
	color: #fff;
	font-size: 12px;
	padding: 5px 10px;
	position: relative;
	text-transform: none;
	width: 138px;
}

#subnav li li a:hover,
#subnav li li a:active {
	background-color: #000;
}

#subnav li ul {
	height: auto;
	left: -9999px;
	position: absolute;
	width: 160px;
	z-index: 9999;
}

#subnav li ul a {
	width: 140px;
}

#subnav li ul ul {
	margin: -33px 0 0 159px;
}

#subnav li:hover>ul,
#subnav li.sfHover ul {
	left: auto;
}


/* Inner
------------------------------------------------------------ */

#inner {
	overflow: hidden;
	width: 100%;
}


/* Content
------------------------------------------------------------ */

#content {
	float: left;
	width: 59.49367%; /* 470/790 */
}

.full-width-content #content {
	width: 100%;
}

.sidebar-content #content {
	float: right;
}

blockquote {
	margin: 5px 15px 20px;
	padding: 15px 20px 0;
}

.post {
	margin: 0 0 40px;
}

.entry-content {
	overflow: hidden;
}

.entry-content p {
	padding: 0 0 15px;
}

p.subscribe-to-comments {
	padding: 20px 0 10px;
}

.clear {
	clear: both;
}

hr,
.clear-line {
	background: transparent;
	border: none;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
	width: 100%;
	margin: 0 0 15px;
}


/* Column Classes
------------------------------------------------------------ */

.five-sixths,
.four-fifths,
.four-sixths,
.one-fifth,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fifths,
.three-fourths,
.three-sixths,
.two-fifths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 3%;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48%;
}

.one-third,
.two-sixths {
	width: 31%;
}

.four-sixths,
.two-thirds {
	width: 65%;
}

.one-fourth {
	width: 22.5%;
}

.three-fourths {
	width: 73.5%;
}

.one-fifth {
	width: 17.4%;
}

.two-fifths {
	width: 37.8%;
}

.three-fifths {
	width: 58.2%;
}

.four-fifths {
	width: 78.6%;
}

.one-sixth {
	width: 14%;
}

.five-sixths {
	width: 82%;
}

.first {
	clear: both;
	margin-left: 0;
}


/* Headlines
------------------------------------------------------------ */

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.25em;
	margin: 0 0 5px;
}

h1 {
	font-size: 28px;
}

h2,
h2 a,
h2 a:visited {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
}


/* Ordered / Unordered Lists
------------------------------------------------------------ */

.entry-content ol,
.entry-content ul {
	margin: 0;
	padding: 0 0 15px;
}

.entry-content ol {
	margin: 0;
}

.archive-page ul li,
.entry-content ul li {
	list-style-type: square;
	margin: 0 0 0 30px;
	padding: 0;
}

.entry-content ol li {
	margin: 0 0 0 35px;
}

.archive-page ul ul,
.entry-content ol ol,
.entry-content ul ul {
	padding: 0;
}


/* Post Info
------------------------------------------------------------ */

.post-info {
	margin: 5px 0;
}


/* Post Meta
------------------------------------------------------------ */

.post-meta {
	border-bottom: 1px solid #ddd;
	overflow: hidden;
	width: 100%;
}


/* Author Box
------------------------------------------------------------ */

.author-box {
	margin: 0 0 40px;
	overflow: hidden;
	padding: 10px;
}


/* Sticky Posts
------------------------------------------------------------ */

.sticky {
	margin: 0 0 40px;
	padding: 20px;
}


/* Archive Page
------------------------------------------------------------ */

.archive-page {
	float: left;
	padding: 20px 0;
	width: 45%;
}

/* Images
------------------------------------------------------------ */

img {
	height: auto;
	max-width: 100%;
	overflow: hidden;
}

.author-box .avatar {
	background-color: #fff;
	float: left;
	margin: 0 10px 0 0;
}

.post-image {
	margin: 0 10px 10px 0;
}

.comment-list li .avatar {
	background-color: #fff;
	float: right;
	margin: 0 5px 0 10px;
	padding: 4px;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 10px;
}

img.alignnone {
	display: inline;
	margin: 0 0 10px;
}

img.alignleft {
	display: inline;
	margin: 0 10px 10px 0;
}

img.alignright {
	display: inline;
	margin: 0 0 10px 10px;
}

.alignleft {
	float: left;
	margin: 0 10px 0 0;
}

.alignright {
	float: right;
	margin: 0 0 0 10px;
}

.wp-caption {
	padding: 5px;
	text-align: center;
}

p.wp-caption-text {
	font-size: 12px;
	line-height: 16px;
	padding: 5px 0;
}

.wp-smiley,
.wp-wink {
	border: none;
	float: none;
}

.gallery-caption {
}


/* Post Navigation
------------------------------------------------------------ */

.navigation {
	overflow: hidden;
	padding: 20px 0;
	width: 100%;
}

.navigation li {
	display: inline;
}

.navigation li a,
.navigation li.disabled,
.navigation li a:hover,
.navigation li.active a {
	border: 1px solid #ddd;
	padding: 5px 8px;
}

.navigation li a:hover,
.navigation li.active a {
	background-color: #f5f5f5;
}


/* Primary / Secondary Sidebars
------------------------------------------------------------ */

.sidebar {
	display: block;
	float: right;
	font-size: 13px;
	line-height: 20px;
	width: 31.25%; /* 300/960 */
}

.sidebar h4 {
	background-color: #f5f5f5;
	border-bottom: 1px solid #ddd;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 5px 5px 10px;
	text-transform: uppercase;
}

.sidebar p {
	font-size: 13px;
	line-height: 20px;
}

.sidebar-content #sidebar {
	float: left;
}

.sidebar .widget {
	margin: 0 0 15px;
	padding: 0 0 10px;
}

.widget-area ol,
.widget-area ul {
	margin: 10px 0 0 25px;
}

.widget-area ol ol,
.widget-area ul ul {
	margin: 0 0 0 15px;
}

.widget-area ul li {
	list-style-type: square;
	word-wrap: break-word;
}


/* Buttons
------------------------------------------------------------ */

div.gform_footer input.button,
.button,
.button:visited {
	background: url(images/button-bg.jpg) repeat-x;
	border: 1px solid #580816;
	color: #fff;
	display: inline-block;
	font-family: 'Rokkitt', Georgia, Times, serif;
	font-size: 28px;
	line-height: 28px;
	padding: 16px 32px;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.gform_footer input.button:hover,
.button:hover {
	background: url(images/button-bg.jpg) repeat-x left bottom;
	cursor: pointer;
	text-decoration: none;
}

/* Search Form
------------------------------------------------------------ */

.s {
	font-size: 12px;
	margin: 5px 2px 0 0;
	padding: 4px 5px;
	width: 195px;
}


/* Footer Widgets
------------------------------------------------------------ */

#footer-widgets {
	overflow: hidden;
	width: 100%;
}

#footer-widgets .widget-area {
	float: left;
	padding: 20px;
	width: 25%;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#footer-widgets h4 {
	background: none;
	border: none;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 5px;
	padding: 0;
	text-transform: uppercase;
}


/* Footer
------------------------------------------------------------ */

#footer {
	overflow: hidden;
	width: 100%;
}

#footer-right {
	text-align: right;
}

/* Comments
------------------------------------------------------------ */

#comments,
#respond {
	margin: 0 0 15px;
	overflow: hidden;
}

#author,
#comment,
#email,
#url {
	font-size: 12px;
	margin: 10px 5px 0 0;
	padding: 5px;
	width: 250px;
}

#comment {
	height: 150px;
	margin: 10px 0;
	width: 98%;
}

.ping-list {
	margin: 0 0 40px;
}

.comment-list ol,
.ping-list ol {
	padding: 10px;
}

.comment-list li,
.ping-list li {
	font-weight: bold;
	margin: 15px 0 5px;
	padding: 10px 5px 10px 10px;
}

.comment-list li ul li {
	list-style-type: none;
	margin-left: 10px;
	margin-right: -6px;
}

.comment-list p,
.ping-list p {
	margin: 10px 5px 10px 0;
}

.comment-list cite,
.ping-list cite {
	font-style: normal;
}

.commentmetadata {
	font-size: 11px;
}

.nocomments {
	text-align: center;
}

#comments .navigation {
	display: block;
}

.bypostauthor {
}

.thread-alt,
.thread-even {
	background-color: #f5f5f5;
}

.alt,
.depth-1,
.even {
	border: 1px solid #ddd;
}


/* Smaller Screens
------------------------------------------------------------ */

@media only screen and (max-width: 480px) {
	.content-sidebar #content,
	.sidebar-content #content,
	.content-sidebar #sidebar,
	.sidebar-content #sidebar {
		width: 100%;
	}

	.one-half,
	.one-third,
	.two-thirds,
	.one-fourth,
	.three-fourths,
	.one-fifth,
	.two-fifths,
	.three-fifths,
	.four-fifths,
	.one-sixth,
	.five-sixths {
		float: none;
		width: 100%;
		padding: 0;
		margin: 0;
	}

	#footer-left,
	#footer-right {
		text-align: center;
	}
}


/* SITE STYLES */
body{font-family: 'Lato', sans-serif;}

#header{ }
#header .wrap{ display: flex; flex-wrap: wrap; margin: 20px 0;}
#header .wrap #title-area{ width: 26%;}
#header .wrap #title-area #title{ width: 100%; max-width: 220px; height: 100px; margin:auto;}
#header .wrap #title-area #title a{ background: url(images/logo.png) no-repeat center / cover; display: block; width: 100%; height: 100%;}
#header .wrap .header-middle{ width: 37%;display: flex; align-items: flex-end;}
#header .wrap .header-middle h3{ color:#043F88;font-size: 16px; line-height: 22px; }
#header .wrap .header-widget-area{ width: 37%; }
#header .wrap .header-widget-area ul.menu{ display: block; text-align: right;}
#header .wrap .header-widget-area ul.menu li{ background: none; float: none; display: inline-block;}
#header .wrap .header-widget-area ul.menu li a{ color:#3665A0;}
#header .wrap .header-widget-area ul.menu li a:hover{ background: none; color:#4EA9A0;}

#nav{ background: #00529b; border: none; margin-bottom: 20px; border-radius: 6px 6px 0 0; -webkit-border-radius: 6px 6px 0 0;}
#nav ul{}
#nav ul a{ padding: 14px 25px; font-size: 14px;}
#nav li a:hover, #nav li a:active, #nav .current_page_item a, #nav .current-cat a, #nav .current-menu-item a{ background: #043F88;}

#secondary-nav{ background: #4EA9A0; border: none; margin-bottom: 20px; border-radius: 6px; -webkit-border-radius: 6px;}
#secondary-nav ul{}
#secondary-nav ul a{ padding: 14px 25px; font-size: 14px;}
#secondary-nav li a:hover, #secondary-nav li a:active, #secondary-nav .current_page_item a, #secondary-nav .current-cat a, #secondary-nav .current-menu-item a{ background: #4EA9A0;}

#footer{ background: #333333; padding: 40px 0;}
#footer .wrap{ max-width: 960px; width: 94%; margin: 0 auto;}
#footer .wrap .footer{ display: flex;}
#footer .wrap .footer .widget-title{ color:#fff; font-size: 18px; font-weight: bold; margin: 0 0 20px; text-shadow: 2px 2px 3px #000;}
#footer .wrap .footer a{ color:#fff;}
#footer .wrap .footer .widget{ color:#fff;}
#footer .wrap .footer .widget:nth-child(1), #footer .wrap .footer .widget:nth-child(2){ width: 20%;}
#footer .wrap .footer .widget:nth-child(4), #footer .wrap .footer .widget:nth-child(3){ width: 30%;}
#footer .wrap .footer .widget li{ list-style: none; text-shadow: 2px 2px 3px #000;}
#footer .wrap .footer .widget p{ color:#fff; text-shadow: 2px 2px 3px #000;}
#footer .social_footer{ text-align: center; margin: 15px 0;}
#footer .social_footer img{ margin: 0 15px; display: inline-block;}
#footer .copyrights{ text-align: center;}
#footer .copyrights p{ color:#fff;}

h2.entry-title{ color:#569C95; font-size: 40px; line-height: 44px; padding-bottom: 5px; border-bottom: 2px solid #E5EBF3; margin-bottom: 20px;}
h2.entry-title a{ color:#569C95;}
.post-info{ margin-bottom: 20px;}

.entry-content{}
.entry-content h1{color:#569C95; font-size: 40px; line-height: 44px; padding-bottom: 5px; border-bottom: 2px solid #E5EBF3; margin-bottom: 20px; font-weight: normal;}
.entry-content h1 a{color:#569C95;}
.entry-content h2{color:#043F88; font-size: 35px; line-height: 38px; margin-bottom: 20px;font-weight: normal;}
.entry-content h2 a{color:#043F88;}
.entry-content h3{color:#4EA9A0; font-size: 31px; line-height: 36px; margin-bottom: 20px;font-weight: normal;}
.entry-content h3 a{color:#4EA9A0;}
.entry-content h4{color:#333; font-size: 26px; line-height: 30px; margin-bottom: 20px; font-weight: bold;}
.entry-content h4 a{color:#333;}
.entry-content h5{color:#4EA9A0; font-size: 22px; line-height: 30px; margin-bottom: 20px; padding-top: 5px; font-weight: normal; border-top: 2px solid #E5EBF3;}
.entry-content h5 a{color:#4EA9A0;}

.entry-content ul{ list-style: none;}
.entry-content ul li{ list-style: none; margin: 0 0 0 19px;}
.entry-content ul li::before{content: "•"; color: #569C95;     width: 20px; display: inline-block;}

.entry-content a{ color:#043F88; font-weight: bold;}
.entry-content a:hover{color:#3665A0;}

.entry-content blockquote{ background: #E5EBF3; border-radius: 10px; color:#043F88; font-family: Georgia; margin-bottom: 30px; border: none;}
.entry-content blockquote p, .entry-content blockquote li, .entry-content blockquote h3, .entry-content blockquote h2{color:#043F88; font-family: Georgia;}

.body-content{ background: url(images/layer-1.jpg) no-repeat; background-size: 100% 100%;}
#wrap{ padding-bottom: 40px; background: #fff; width: 94%;}
#inner{ box-sizing: border-box; padding: 0 30px 30px 30px;}

.mobilmenu{ display: none;}

/* RESPONSIVE */
@media(max-width:900px){
  #footer .wrap .footer{ flex-wrap: wrap;}
  #footer .wrap .footer .widget{ width: 50% !important; margin-bottom: 30px;}
  #secondary-nav .mobilmenu{ text-align: center; line-height: 50px; cursor: pointer; display: block;}
  #secondary-nav ul{ display: none;}
  #secondary-nav ul li{ width: 100%; text-align: center;}
  #secondary-nav ul li a{ padding: 10px 0;}
  #nav ul{ display: none;}
  #nav ul li{ width: 100%; text-align: center;}
  #nav ul li a{ padding: 10px 0;}
  #header .wrap #title-area{ width: 100%;}
  #header .wrap #title-area h1{ margin: 0 auto; float: none;}
  #header .wrap .header-middle{ display: none;}
  #header .wrap .header-widget-area{ width: 100%;}
  #header .wrap .header-widget-area ul.menu{ text-align: center; margin: 0; float: none;}
  #content{ width: 100%;}
  .sidebar{ width: 80%; margin: 40px 10%;}
}
@media(max-width:550px){
  #footer .wrap .footer .widget{
  width: 100% !important;
text-align: center;
  }
}
